* {
  margin: auto 0;
  padding-inline-start: 0;
}

h1,
h2,
h3 {
  position: relative;
  top: 0;
  margin-top: 2em;
}

h1 {
  margin-left: 3em;
  margin-bottom: 1em;
}

h2 {
  margin-left: 4em;
  display: flex;
  align-items: center;
}

h3 {
  margin-left: 6em;
}

span {
  padding: 0.5em;
}

section {
  position: absolute;
  left: 0;
  margin-top: 2em;
  margin-left: 5em;
}

div:hover {
  border-radius: 40px;
}

div.hidden {
  display: none;
}

#showColor {
  display: inline-block;
  margin-left: 1em;
  height: 40px;
  width: 40px;
}

.grid {
  border-radius: 1px;
  border-style: solid;
  height: 480px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 80px;
  width: 80px;
}

.player-one {
  border-radius: 40px;
}

.player-two {
  border-radius: 40px;
}

@media (max-width: 654px) {
  h1,
  h2,
  h3,
  section {
    margin-left: 1em;
  }

  .grid {
    height: 240px;
    width: 280px;
  }
  .grid div {
    height: 40px;
    width: 40px;
  }
  .player-one,
  .player-two,
  div:hover {
    border-radius: 20px;
  }
}
