* {
  margin: auto 0;
  padding-inline-start: 0;
}

h1,
h2 {
  position: relative;
  top: 0;
  margin-top: 2em;
}

h1 {
  margin-left: 3em;
  margin-bottom: 1em;
}

h2 {
  margin-left: 4em;
  display: flex;
  align-items: center;
}

h3 {
  margin-top: 7.5em;
  margin-left: 9em;
  padding: 3em;
  border-radius: 1px;
  border-style: solid;
  position: fixed;
  top: auto;
  z-index: 3;
}

span {
  padding: 0.5em;
}

section {
  position: absolute;
  left: 0;
  margin-top: 2em;
  margin-left: 5em;
}

div {
  border-radius: 50px;
}

div:hover {
  border-radius: 40px;
}

#showColor {
  display: inline-block;
  margin-left: 1em;
  height: 40px;
  width: 40px;
}

#startHere {
  position: fixed;
  top: 42em;
  left: 40em;
}

.hidden {
  display: none;
}

.grid {
  border-radius: 1px;
  border-style: solid;
  height: 480px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 80px;
  width: 80px;
}

.player-one {
  border-radius: 40px;
}

.player-two {
  border-radius: 40px;
}

@media (max-width: 654px) {
  h1,
  h2,
  section {
    margin-left: 1em;
  }

  h3 {
    margin-left: 1.5em;
    margin-top: 4em;
    padding: 2em;
  }

  #showColor {
    height: 10px;
    width: 10px;
  }

  #startHere {
    position: fixed;
    top: 27.3em;
    left: 19em;
  }

  .grid {
    height: 240px;
    width: 280px;
  }
  .grid div {
    height: 40px;
    width: 40px;
  }
  .player-one,
  .player-two,
  div:hover {
    border-radius: 20px;
  }
}
